.float {
  position: fixed;
  z-index: 50;
  pointer-events: none;
  border-radius: 50%;
}

.bottom-right {
  right: 24px;
  bottom: 24px;
}

.bottom-left {
  bottom: 24px;
  left: 24px;
}

@media (max-width: 600px) {
  .bottom-right {
    right: 12px;
    bottom: calc(12px + env(safe-area-inset-bottom));
  }

  .bottom-left {
    bottom: calc(12px + env(safe-area-inset-bottom));
    left: 12px;
  }
}
